@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@900&display=swap');

/* font-family: 'Gothic A1', sans-serif; */

*{
  margin:0;
  padding:0;
}

#wrap{
  /* width:100%; */
  background-color: rgb(241, 241, 241);
}

header{
  width:768px;
  height:44px;
  margin:0 auto;
  padding:60px 0 54px;
  font-family: 'Gothic A1', sans-serif;
  font-size:1.5em;
  font-weight:bold;
  text-align: center;
  color:rgb(50, 175, 50);
}

section{
  width:460px;
  text-align: center;
  margin:0 auto;
  padding:20px;
}
input{
  /* width:450px;
  height:30px;
  padding:10px 10px 10px 10px;
  margin:8px; */
}
label{
  /* border:1px solid olive; */
  display:block;
  margin:15px 20px 5px 20px;
  text-align: left;
  font-family:  sans-serif;
  font-weight:bold;
}
/* #birth{
  width:420px;
  height:30px;
  margin:0 20px;
} */
#birth>input[type=text]{
  width:110px;
  height:30px;
  padding:10px 10px;
  margin:5px 5px;
  border:1px solid #ddd;
}
#birth>select{
  width:130px;
  height:53px;
  padding:10px 10px;
  /* margin:8px; */
  border:1px solid #ddd;


}

#phone>input[type=tel]{
  width:250px;
  height:30px;
  padding:10px;
  margin:8px;
  border:1px solid #ddd;

}

#phone>input[type=button]{
  width:125px;
  height:48px;
  padding:10px;
  margin:8px;
  background-color: rgb(50, 175, 50);
  border:1px solid rgb(50, 175, 50);
  color:white;
}
#phone>input[type=text]{
  width:400px;
  height:30px;
  padding:10px 10px;
  margin:5px 20px;
  background-color: rgb(241, 241, 241);
  border:1px solid #ddd;

}
input[type=submit]{
  width:424px;
  height:53px;
  padding:10px 10px;
  margin:8px 20px;
  background-color: rgb(50, 175, 50);
  border:1px solid rgb(50, 175, 50);
  color:white;
  font-size: 1.15em;
}

footer{
  margin:0 auto;
  width:460px;
  padding:30px;
  text-align: center;
  
}
ul{
  overflow:hidden;
}
li{
  list-style: none;
  float:left;
  font-size: 0.8em;
  padding-left:5px;
}
footer>p{
  font-size: 0.7em;
  margin-top:10px;
}
/* 클래스 설정 */
/* ------------------------------------------------------------- */
/* .extend_padding{
  width:400px;
  height:30px;
  padding:10px 10px;
  margin:8px 20px;
  text-align: right;
  color:#aaa;
  background-color: white;
  border:1px solid greenyellow;
}
.onebox_small{
  width:350px;
  height:30px;
  /* padding:10px 10px; */
  /* margin:8px 90px 8px 0; */
/*} */

.onebox{
  width:400px;
  height:30px;
  padding:10px 10px;
  margin:5px 20px;
  border:1px solid #ddd;

  /* border:1px solid orange; */
}

/* 성별, 휴대전화 국가선택 공통사항 */
.onebox_select{
  width:420px;
  height:53px;
  padding:10px 10px;
  margin:px 20px;
  border:1px solid #ddd;

  /* border:1px solid purple; */

}