*{
    margin:0;
    padding:0;
}
/* body 모서리 둥글게 하기 */
body{
    width:1000px;
    padding:30px;
    border: 5px solid #ddd;
    border-radius: 20px;
    margin:20px auto;
}

.div_align_center{
    margin:0 auto;
}

/* 블로그 이름이 쓰여 있는 head 부분*/
header{
    width:900px;
    height:90px;
    padding:20px;
}
/* 블로그 메뉴 navigation 부분*/
nav{
    width:900px;
    height:40px;
    line-height:40px;
    padding-left:20px;
    padding-right:20px;
    border-top:2px solid #ddd;
    border-bottom:2px solid #ddd;
    
}
/* 블로그 메뉴와 측메뉴의 목록 스타일에 가지고 있는 효과 빼기 */

li{
    list-style:none;
}
a{
    text-decoration:none;
}
li>a{
    color:peru;
    font-weight: ;
}
li>a:hover{
    color: lightseagreen;
    font-weight:bold;
}
/* 세로로 된 메뉴들 화면의 왼쪽에 가로로 진열하기 */
nav>li{
    float:left;
    padding: 5px 30px;

}
/* 검색버튼을 화면오른쪽에 진열 */
#search{
    float:right;
}
/* 검색txt버튼 박스처리하기 */
#sc{
    border:1px solid black;
    
}
/* 블로그의 본문을 화면의 왼쪽에 진열 */
section{
    padding-top:20px;
    width:658px;
    float:left;
    /* border:1px solid #ddd; */
}
/* 한 개의 포스트 아래에 구분선 넣기 */
article{
    border-bottom:2px solid #ddd;
    padding-top:25px;
    padding-bottom:25px;
}
/* 글의 제목 스타일 주기 */
article>h1{
    font-size:23px;
    line-height:200%;
}
/* 날짜 스타일 */
article>h4{
    line-height:200%;
    /* margin-bottom:20px; */
}
/* 글 안에 넣는 사진의 크기 규격 정하기 */
img{
    height:280px;
    width:430px;
    margin-top:20px;
    margin-bottom:20px;
}
/* 본문 글의 스타일 */
article>p{
    line-height:180%;
}
article>p>a{
    text-decoration: none;
    /* text-align: right; 적용안됨 */
    color:royalblue;
    
}
/* 본문과 우측 작은 메뉴를 아우르는 부분의 크기 정하기 + 하단의footer가 float하지 않게 하기 */
#wrap{
    width: 900px;;
    overflow:hidden;
}
/* 우측 작은박스 목록의 글(작은메뉴) 스타일 지정 */
aside{
    width:150px;
    float:right;
    padding-top:20px;
    
}
/* 우측 작은박스 나누기 */
.smallmenu{
    /* text-align: center; */
    line-height:150%;
    margin-bottom:30px;
}
#prifile{
    /* margin-bottom:20px; 적용이 안됨. */
}
#picture{
    margin:0 auto;
    width:150px;
    height:150px;
    background-image: url("../town.jpg");
    background-size: 100%;
}
#nickname{
    /* font-size: 10px; 적용이 안됨.*/
    /* line-height: 180%; */
    /* font-weight:bold; */
}
.smallmenu>h3{
    text-align: center;
}
.smallmenu>li>a{
    color:slategrey;
    text-align:left;
    font-size:16px;
}
/* 하단 footer 크기 지정 */
footer{
    /* width:1000px; */
    height:40px;
    line-height:40px;
}


